@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --font-family: 'Poppins', sans-serif;
    --font-base: 'Cormorant Upright', serif;
    --font-alt: 'Open Sans', sans-serif;
    --gradient-text: linear-gradient(89.97deg, #FFf 1.84%, #CC9933 76.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    
    --color-golden: #FFCC29;
    --color-black: #1a1a1a;
    --color-gray: #545454;
    --color-crimson: #F5EFDB;
    --color-grey: #AAAAAA;
    --color-white: #FFFFFF;
    --color-bg: #fff;
    --color-footer : #1E1926;
    --color-blog: #042c54;
    --color-text: #6b6b6b;
}

